  button {

  }

  input[type=text], select {

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  #password{
       padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  #confPassword{
       padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }


input[type=submit] {


  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  footer {


  }
#signInBtn{
    padding: 15px;
      background-color: white;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
#signInBtn:hover{
       padding: 15px;
      background-color: black;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
  article {

  }

  section {

  }


  h1 {
font-family: Arial, Helvetica, sans-serif;

  }

      h2 {
font-family: Arial, Helvetica, sans-serif;

  }

  P{
font-family: Arial, Helvetica, sans-serif;
  }

  body {
      background-color: #ffffff;

  }

  #topMenu{
  text-align: center;
     margin-left: auto;
    margin-right: auto;

  }
  #topMenu a{
   padding: 15px;
      background-color: white;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
  }
  #topMenu a:hover{
    padding: 15px;
      background-color: black;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
.container-fluid {
     text-align: center;
     margin-left: auto;
    margin-right: auto;

}

#reg{
      padding: 15px;
      background-color: white;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;

}
#reg:hover{
     padding: 15px;
      background-color: black;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
#feed{
      padding: 15px;
      background-color: white;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;


}
#feed:hover{
  padding: 15px;
      background-color: black;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}

#FeedSchedule{


    color: white;
}
#feedLog{

    color: white;
}
#change{
    padding: 15px;
      background-color: white;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
#change:hover{
      padding: 15px;
      background-color: black;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
#apply{
    padding: 15px;
      background-color: white;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
#apply:hover{
     padding: 15px;
      background-color: black;
      color: #0071bc;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #0071bc;
      text-decoration: none;
}
label{

    font-family: Arial, Helvetica, sans-serif;
}
#center{
      background-color: white;
      text-align: center;
      border: 3px solid #0071bc;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;

}
#FeedSchedule{
color: black;
}

#feedLog{
color: black;
}

#birdView{
  border: 3px solid #0071bc;
        width:70%;
     height: 400px;
     position:absolute;
}