body
{
    font-family: Helvetica,sans-serif;
    font-size: 20px;
}

input[type=text], select, #password, #confPassword, #newPassword, #newPassword2, #currentPassword {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

input[type=checkbox], input[type=radio]
{
    transform:scale(2,2);
    margin: 20px;
}

ul
{
    list-style: none;
}

#password{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#confPassword{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#signInBtn{
    padding: 15px;
    background-color: black;
    color: #63c3ef;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.5s;
}
#signInBtn:hover{
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.3s;
}

#welcome
{
    padding-top: 20px;
    font-size: 18px;
}

#topMenu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}
#topMenu a{
    padding: 15px;
    background-color: black;
    color: #63c3ef;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.5s;

}
#topMenu a:hover{
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.3s;
}
.container-fluid {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#reg{
    padding: 15px;
    background-color: black;
    color: #63c3ef;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.5s;
}
#reg:hover{
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.3s;
}
#feed{
    background-color: black;
    color: #63c3ef;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    transition: 0.5s;
    position: relative;
}
#feed:hover{
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.3s;
}


#change{
    padding: 15px;
    background-color: black;
    color: #63c3ef;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}

#change:hover{
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.3s;
}
#apply{
    padding: 15px;
    background-color: black;
    color: #63c3ef;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    transition: 0.5s;
}

#apply:hover{
      padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}


#center{
    background-color: white;
    text-align: center;
    border: 3px solid #63c3ef;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}

#FeedSchedule{
    color: black;
    width: available;
    position: center;
    padding: 15px;
}

#feedLog{
    position: static;
    top: -100px;
    color: black;
    padding-left: 15px;
    display: inline-block;
}
#birdView{
    white-space: nowrap;
    border: 3px solid #97fce8;
    width:50%;
    text-align: center;
    position: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

#userSettingsMenu{
    border: 3px solid #97fce8;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: center;
    text-align: center;
}

#scheduledFeedMenu{
    border: 3px solid #97fce8;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: center;
    text-align: center;
}

#adminSettingsMenu{
    border: 3px solid #97fce8;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: center;
    text-align: center;
}

table {
    font-family: arial, helvetica, sans-serif;
    border-collapse: collapse;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table.bb_table {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 3px solid #97fce8;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color: black;
}

td > a
{
    text-decoration: none;
}

#clearFeed{
    display: inline-block;
}

#clear{
    padding: 15px;
    background-color: black;
    color: #63c3ef;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px solid #63c3ef;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    transition: 0.5s;
}

#clear:hover{
      padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}

#adminUserSettings
{
    border: 3px solid #97fce8;
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: center;
    text-align: center;
}

#intro
{
    text-align: center;
}

.logo_oobe
{
    width: 35%;
}

.logo
{
    width: 15%;
}

#logo_container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.oobePic
{
    width: 75%;
}