

  input[type=text], select {

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  #password{
       padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  #confPassword{
       padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }


input[type=submit] {


  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;

  cursor: pointer;
}

  footer {


  }
#signInBtn{
    padding: 15px;
      background-color: black;
      color: #63c3ef;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.5s;
}
#signInBtn:hover{
       padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}
  article {

  }

  section {

  }


  h1 {
font-family: Arial, Helvetica, sans-serif;

  }

  P{
font-family: Arial, Helvetica, sans-serif;
  }

  body {
      background-color: darkgray;

  }
      h2 {
font-family: Arial, Helvetica, sans-serif;

  }

  #topMenu{
  text-align: center;
     margin-left: auto;
    margin-right: auto;
      margin-top: 20px;

  }
  #topMenu a{
      padding: 15px;
      background-color: black;
      color: #63c3ef;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.5s;

  }
  #topMenu a:hover{
       padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}
.container-fluid {
     text-align: center;
     margin-left: auto;
    margin-right: auto;
}

#reg{
        padding: 15px;
      background-color: black;
      color: #63c3ef;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.5s;
}
#reg:hover{
       padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}
#feed{
      background-color: black;
      color: #63c3ef;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      display: inline-block;
      margin-left: 10px;
      transition: 0.5s;
    position: relative;
}
#feed:hover{
       padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}


#change{
      padding: 15px;
      background-color: black;
      color: #63c3ef;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
    display: inline-block;
      transition: 0.5s;
}

#change:hover{
      padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}
#apply{
    padding: 15px;
      background-color: black;
      color: #63c3ef;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.5s;
}
#apply:hover{
       padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
      transition: 0.3s;
}
label{

    font-family: Arial, Helvetica, sans-serif;
}
#center{
      background-color: white;
      text-align: center;
      border: 3px solid #63c3ef;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;

}

#FeedSchedule{
    color: black;
     width: available;
    position: center;
    padding: 15px;
}
#feedLog{
    color: black;
    width: available;
    float: right;
    padding: 15px;
    display: inline-block;
}
#birdView{
     border: 3px solid #97fce8;
     width:50%;
    text-align: center;
    position: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

#userSettingsMenu{
    border: 3px solid #97fce8;
    width: 50%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: center;
    text-align: center;
}

#scheduledFeedMenu{
    border: 3px solid #97fce8;
    width: 50%;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: center;
    text-align: center;
}

#adminSettingsMenu{
    border: 3px solid #97fce8;
    width: 50%;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: center;
    text-align: center;
}

table {
    font-family: arial, helvetica, sans-serif;
    border-collapse: collapse;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table.bb_table {
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 3px solid #97fce8;
    text-align: left;

}

tr:nth-child(even) {
    background-color: #dddddd;
    color: black;
}

#clearFeed{
    display: inline-block;
}

#clear{
    padding: 15px;
      background-color: black;
      color: #63c3ef;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
     margin-left: 10px;
    position: relative;

}
#clear:hover{
       padding: 15px;
      background-color: white;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #63c3ef;
      text-decoration: none;
}