  button {
  margin-left: auto;
      margin-right: auto;
  }

  input[type=text], select {

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  #password{
       padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  #confPassword{
       padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }


input[type=submit] {

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




  li a:hover {

  }

  footer {


  }
#signInBtn{
      padding: 15px;
      background-color: #f2f5f5;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #97fce8;
      text-decoration: none;
}

  article {

  }

  section {

  }


  h1 {
font-family: Arial, Helvetica, sans-serif;

  }

  P{
font-family: Arial, Helvetica, sans-serif;
  }

  body {
      background-color: white;

  }

  #topMenu{
  text-align: center;
     margin-left: auto;
    margin-right: auto;

  }
  #topMenu a{
       padding: 15px;
      background-color: #f2f5f5;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #97fce8;
      text-decoration: none;

  }
.container-fluid {
     text-align: center;
     margin-left: auto;
    margin-right: auto;

}

#reg{
        padding: 15px;
      background-color: #f2f5f5;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #97fce8;
      text-decoration: none;

}
#feed{
        padding: 15px;
      background-color: #f2f5f5;
      color: black;
      font-size: 32px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border: 3px solid #97fce8;
      text-decoration: none;


}