{% extends 'foundation.html' %}
{% block content %}
    <h2>User settings for: {{ username }}</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            <br>
            {{ form.username }}
            <br>
            {% for error in form.username.errors %}
                <span class="formError">{{ error }}</span>
            {% endfor %}
            <br>
            {{ form.email.label }}
            <br>
            {{ form.email }}
            <br>
            {% for error in form.email.errors %}
                <span class="formError">{{ error }}</span>
            {% endfor %}
            <br>
            {{ username }} {{ form.canFeed.label }}
            <br>
            {{ form.canFeed }}
            <br>
            {{ form.apply }}
        </p>
    </form>
{% endblock %}