{% extends 'foundation.html' %}

{% block content %}
<head>
    <script src="{{ url_for('static', filename='js/feeder.js') }}"></script>
</head>
<body>
    <h1>Welcome {{ user.username }}</h1>
    <h2>Enjoy your beautiful bird</h2>
    <br>
    <p>Can view is set to {{ can_view }}</p>
    <p>Can feed is set to {{ can_feed }}</p>
    <br>
    {% if can_view %}
        <img src="{{ url_for('birdstream') }}">
    {% else %}
        <p>Sorry, you don't have permission to view the bird</p>
    {% endif %}
    <br>
    <br>

    {% if can_feed %}
        <a href="#" id="feed">Feed</a>
    {% else %}
        {{ can_feed }}
        <p>Sorry, you don't have permission to feed the bird</p>
    {% endif %}
    <form method = 'post'>
        <input type = 'submit' value='Change'>
    </form>
</body>
{% endblock %}

