{% extends 'foundation.html' %}

{% block content %}
<head>
{#    <script type="text/javascript">#}
{#        var sec = 0;#}
{#        function pad ( val ) { return val > 9 ? val : "0" + val; }#}
{#        setInterval( function(){#}
{#            document.getElementById("seconds").innerHTML=pad(++sec%60);#}
{#            document.getElementById("minutes").innerHTML=pad(parseInt(sec/60,10));#}
{#        }, 1000);#}
{#    </script>#}
    <script type=text/javascript>
      $(function() {
        $('a#feed').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/_feed', {
            a: 'True'
          }, function(data) {
            $("#result").text(data.result);
          });
          return false;
        });
      });
    </script>
</head>
<body>
    <h1>Welcome {{ user.username }}</h1>
    <h2>Enjoy your beautiful bird</h2>
    <br>
    <img src="{{ url_for('birdstream') }}">
    <br>
    <br>

<a href="#" id="feed">Feed</a>

<div class="block" style="text-align: center;>
<div>
</div>
<span id="count"></span>
<br>
<span id="minutes"></span>:<span id="seconds"></span>
<br>
<label>&nbsptotal time watching.</label>
    <span id=result>?</span>
</div>

</body>
{% endblock %}

