{% extends "foundation.html" %}

{% block content %}
    <div id="welcome">
        <h1>Welcome to Codename: Bird Box</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}
                <br>
                {{ form.username(size=32) }}
                <br>
                {% for error in form.username.errors %}
                    <span class="formError">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.password.label }}
                <br>
                {{ form.password(size=32) }}
                <br>
                {% for error in form.password.errors %}
                    <span class="formError">{{ error }}</span>
                {% endfor %}
                <br>
                {{ form.remember.label }}{{ form.remember }}
                <br>
                {{ form.signInBtn }}
            </p>
        </form>
    </div>
{% endblock %}
