{% extends 'foundation.html' %}

{% block content %}
    <form method="POST">
        {{ theme_settings.label }}
        <br>
        {{ theme_settings.themes }}
        <br>
        {{ theme_settings.apply }}
        {{ feed_settings.hidden_tag() }}
            <p>
                {{ feed_settings.canFeed.label }}
                <br>
                {{ feed_settings.canFeed }}
                <br>
                {% for error in feed_settings.canFeed.errors %}
                    <span class="formError">{{ error }}</span>
                {% endfor %}
                <br>
                <h2>Schedule Feed Settings</h2>
                {{ feed_settings.scheduledFeed }}{{ feed_settings.scheduledFeed.label }}
                <br>
                {{ feed_settings.feedDay_Monday }}{{ feed_settings.feedDay_Monday.label }}
                {{ feed_settings.feedDay_Tuesday }}{{ feed_settings.feedDay_Tuesday.label }}
                {{ feed_settings.feedDay_Wednesday }}{{ feed_settings.feedDay_Wednesday.label }}
                {{ feed_settings.feedDay_Thursday }}{{ feed_settings.feedDay_Thursday.label }}
                {{ feed_settings.feedDay_Friday }}{{ feed_settings.feedDay_Friday.label }}
                {{ feed_settings.feedDay_Saturday }}{{ feed_settings.feedDay_Saturday.label }}
                {{ feed_settings.feedDay_Sunday }}{{ feed_settings.feedDay_Sunday.label }}
                <br>
                {{ feed_settings.feedHour }}{{ feed_settings.feedMinute }}
                <br>
                {{ feed_settings.apply }}
            </p>
    </form>
{% endblock %}
