{% extends "foundation.html" %}
{% block header %}
    <script src="{{ url_for('static', filename='js/feeder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feedlog.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clearlog.js') }}"></script>
{% endblock %}
{% block content %}
<div id="welcome">
{% if current_user.is_authenticated %}
    <p style="text-align: center;"><b>Current User:</b> {{current_user.username}}</p>
{% else %}
    <p>Welcome to Codename: BirdBox</p>
{% endif %}
</div>
    <p style="text-align: center"><b>User has Administrative Privileges:</b>
     {% if is_admin %}
       Yes
    {% else %}
    No
 {% endif %}
</p>

<div id="birdView">
    <h2>Enjoy your beautiful bird</h2>


   <img style="padding-left: 10px; vertical-align: top;" src="{{ url_for('birdstream') }}">
    <img style="padding-left: 10px; vertical-align: top;" src="/static/bird.jpg" width="680" height="480">

<div id="feedLog">
        <table class="bb_table">
            <tr>
                <th>Users</th>
                <th>Feed Time</th>
                <th>Feed Type</th>
            </tr>
            {% for feed in feeds %}
                <tr>
                    <td>{{ feed.userID }}</td>
                    <td>{{ feed.feed_time }}</td>
                    <td>{{ feed.feed_type }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <br>
    <br>


    {% if can_feed %}
        <a href="#" id="feed">Feed</a>
    {% else %}
        <p>Sorry, you don't have permission to feed the bird</p>
    {% endif %}

<div id="clearFeed">
    {% if is_admin %}
        <a href="#" id="clear">Clear Log</a>
    {% endif %}
</div>

<div id="FeedSchedule">
    <table class="bb_table">
        <tr>
            <th>User</th>
            <th>Days</th>
            <th>Time</th>
        </tr>
        {% for feeding in feed_times %}
        <tr>
            <td>{{ feeding.feed_creator }}</td>
            <td>
                {% for day in feeding.feed_days %}
                    {{ day }}
                {% endfor %}
            </td>
            <td>{{ feeding.feed_time }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
